In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:

billboard = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\billboard200.csv')
charts = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\charts.csv', nrows=100000)
digital_songs = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\digital_songs.csv')
hot100 = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\hot100.csv')
radio = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\radio.csv')
streaming_songs = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\streaming_songs.csv')

C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\1896942931.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  billboard = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\billboard200.csv')

In [12]:
for df in [billboard, charts, digital_songs, hot100, radio, streaming_songs]:
    df.drop(columns=['streams', 'Image URL'], inplace=True, errors='ignore')
    df.info()
    print(f"DataFrame: {df.shape[0]} rows, {df.shape[1]} columns")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630257 entries, 0 to 630256
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             630257 non-null  object
 1   Song             630257 non-null  object
 2   Artist           630168 non-null  object
 3   Rank             630257 non-null  int64
 4   Last Week        630257 non-null  object
 5   Peak Position    630257 non-null  int64
 6   Weeks in Charts  630257 non-null  object
dtypes: int64(2), object(5)
memory usage: 33.7+ MB
DataFrame: 630257 rows, 7 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   100000 non-null  object
 1   rank    100000 non-null  int64
 2   date    100000 non-null  object
 3   artist  100000 non-null  object
 4   url     100000 non-null  object
 5   region  100000 non-null  object
 6   chart   100000 non-null  object
 7   trend   100000 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB
DataFrame: 100000 rows, 8 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62500 entries, 0 to 62499
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             62500 non-null  object
 1   Song             62500 non-null  object
 2   Artist           62500 non-null  object
 3   Rank             62500 non-null  int64
 4   Last Week        62500 non-null  object
 5   Peak Position    62500 non-null  int64
 6   Weeks in Charts  62500 non-null  object
dtypes: int64(2), object(5)
memory usage: 3.3+ MB
DataFrame: 62500 rows, 7 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345887 entries, 0 to 345886
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             345887 non-null  object
 1   Song             345887 non-null  object
 2   Artist           345887 non-null  object
 3   Rank             345887 non-null  int64
 4   Last Week        345887 non-null  int64
 5   Peak Position    345887 non-null  int64
 6   Weeks in Charts  345887 non-null  object
dtypes: int64(3), object(4)
memory usage: 18.5+ MB
DataFrame: 345887 rows, 7 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119100 entries, 0 to 119099
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date             119100 non-null  object
 1   Song             119100 non-null  object
 2   Artist           119100 non-null  object
 3   Rank             119100 non-null  int64
 4   Last Week        119100 non-null  int64
 5   Peak Position    119100 non-null  int64
 6   Weeks in Charts  119100 non-null  object
dtypes: int64(3), object(4)
memory usage: 6.4+ MB
DataFrame: 119100 rows, 7 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30900 entries, 0 to 30899
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             30900 non-null  object
 1   Song             30900 non-null  object
 2   Artist           30900 non-null  object
 3   Rank             30900 non-null  int64
 4   Last Week        30900 non-null  int64
 5   Peak Position    30900 non-null  int64
 6   Weeks in Charts  30900 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.7+ MB
DataFrame: 30900 rows, 7 columns

In [13]:
for df in [billboard, digital_songs, hot100, radio, streaming_songs]:
    df['region'] = 'Global'

In [7]:
daty = billboard['Date'].unique()

In [20]:
charts['region'].value_counts().head(30)

region
Finland               2653
Ecuador               2653
Chile                 2652
Belgium               2651
Brazil                2651
Canada                2651
Australia             2651
Colombia              2651
Argentina             2650
Costa Rica            2650
Denmark               2650
Austria               2648
Czech Republic        2489
France                2482
Hong Kong             2402
Global                2401
Germany               2391
Indonesia             2200
Dominican Republic    2178
Ireland               2154
Guatemala             2060
Italy                 2001
Malaysia              1803
Mexico                1803
Hungary               1784
Netherlands           1756
Peru                  1753
New Zealand           1752
Poland                1752
Philippines           1750
Name: count, dtype: int64

In [22]:
top_regions = charts['region'].value_counts().head(30).index.tolist()
top_regions

['Finland',
 'Ecuador',
 'Chile',
 'Belgium',
 'Brazil',
 'Canada',
 'Australia',
 'Colombia',
 'Argentina',
 'Costa Rica',
 'Denmark',
 'Austria',
 'Czech Republic',
 'France',
 'Hong Kong',
 'Global',
 'Germany',
 'Indonesia',
 'Dominican Republic',
 'Ireland',
 'Guatemala',
 'Italy',
 'Malaysia',
 'Mexico',
 'Hungary',
 'Netherlands',
 'Peru',
 'New Zealand',
 'Poland',
 'Philippines']

In [28]:
charts['date'].unique()

array(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
       '2017-01-05', '2017-01-06', '2017-02-01', '2017-02-02',
       '2017-02-03', '2017-02-04', '2017-03-14', '2017-08-01',
       '2017-08-02', '2017-08-03', '2017-08-04', '2017-08-07',
       '2017-08-08', '2017-08-09', '2017-08-10', '2017-08-11',
       '2017-09-01', '2017-09-02', '2017-09-04', '2017-09-05',
       '2017-09-07', '2018-02-01', '2018-02-02', '2018-02-03',
       '2018-03-01', '2018-03-02', '2018-03-03', '2019-05-28',
       '2019-09-13', '2020-05-01', '2020-06-01', '2020-08-26',
       '2020-11-17', '2021-07-01', '2021-09-10', '2021-10-12'],
      dtype=object)

In [ ]:
chunk_size = 500000  # np. 50 tys. na chunk
filtered_chunks = []

# Wczytuj plik w częściach
i = 0
for chunk in pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\charts.csv', chunksize=chunk_size):
    # Filtrowanie tylko top regionów
    print(f"Processing chunk {i + 1}")
    filtered = chunk[chunk['region'].isin(top_regions)]
    filtered_chunks.append(filtered)
    i += 1

# Połącz wszystkie przefiltrowane kawałki w jeden DataFrame
charts_filtered = pd.concat(filtered_chunks, ignore_index=True)

Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Processing chunk 16
Processing chunk 17
Processing chunk 18
Processing chunk 19
Processing chunk 20
Processing chunk 21
Processing chunk 22
Processing chunk 23
Processing chunk 24
Processing chunk 25
Processing chunk 26
Processing chunk 27
Processing chunk 28
Processing chunk 29
Processing chunk 30
Processing chunk 31
Processing chunk 32
Processing chunk 33
Processing chunk 34
Processing chunk 35
Processing chunk 36
Processing chunk 37
Processing chunk 38
Processing chunk 39
Processing chunk 40
Processing chunk 41
Processing chunk 42
Processing chunk 43
Processing chunk 44
Processing chunk 45
Processing chunk 46
Processing chunk 47
Processing chunk 48
Processing chunk 49
Processing chunk 50
Processing chunk 51
Processing chunk 52
Processing chunk 53
Processing chunk 54
Processing chunk 55
Processing chunk 56
Processing chunk 57
Processing chunk 58
Processing chunk 59
Processing chunk 60
Processing chunk 61
Processing chunk 62
Processing chunk 63
Processing chunk 64
Processing chunk 65
Processing chunk 66
Processing chunk 67
Processing chunk 68
Processing chunk 69
Processing chunk 70
Processing chunk 71
Processing chunk 72
Processing chunk 73
Processing chunk 74
Processing chunk 75
Processing chunk 76
Processing chunk 77
Processing chunk 78
Processing chunk 79
Processing chunk 80
Processing chunk 81
Processing chunk 82
Processing chunk 83
Processing chunk 84
Processing chunk 85
Processing chunk 86
Processing chunk 87
Processing chunk 88
Processing chunk 89
Processing chunk 90
Processing chunk 91
Processing chunk 92
Processing chunk 93
Processing chunk 94
Processing chunk 95
Processing chunk 96
Processing chunk 97
Processing chunk 98
Processing chunk 99
Processing chunk 100
Processing chunk 101
Processing chunk 102
Processing chunk 103
Processing chunk 104
Processing chunk 105
Processing chunk 106
Processing chunk 107
Processing chunk 108
Processing chunk 109
Processing chunk 110
Processing chunk 111
Processing chunk 112
Processing chunk 113
Processing chunk 114
Processing chunk 115
Processing chunk 116
Processing chunk 117
Processing chunk 118
Processing chunk 119
Processing chunk 120
Processing chunk 121
Processing chunk 122
Processing chunk 123
Processing chunk 124
Processing chunk 125
Processing chunk 126
Processing chunk 127
Processing chunk 128
Processing chunk 129
Processing chunk 130
Processing chunk 131
Processing chunk 132
Processing chunk 133
Processing chunk 134
Processing chunk 135
Processing chunk 136
Processing chunk 137
Processing chunk 138
Processing chunk 139
Processing chunk 140
Processing chunk 141
Processing chunk 142
Processing chunk 143
Processing chunk 144
Processing chunk 145
Processing chunk 146
Processing chunk 147
Processing chunk 148
Processing chunk 149
Processing chunk 150
Processing chunk 151
Processing chunk 152
Processing chunk 153
Processing chunk 154
Processing chunk 155
Processing chunk 156
Processing chunk 157
Processing chunk 158
Processing chunk 159
Processing chunk 160
Processing chunk 161
Processing chunk 162
Processing chunk 163
Processing chunk 164
Processing chunk 165
Processing chunk 166
Processing chunk 167
Processing chunk 168
Processing chunk 169
Processing chunk 170
Processing chunk 171
Processing chunk 172
Processing chunk 173
Processing chunk 174
Processing chunk 175
Processing chunk 176
Processing chunk 177
Processing chunk 178
Processing chunk 179
Processing chunk 180
Processing chunk 181
Processing chunk 182
Processing chunk 183
Processing chunk 184
Processing chunk 185
Processing chunk 186
Processing chunk 187
Processing chunk 188
Processing chunk 189
Processing chunk 190
Processing chunk 191
Processing chunk 192
Processing chunk 193
Processing chunk 194
Processing chunk 195
Processing chunk 196
Processing chunk 197
Processing chunk 198
Processing chunk 199
Processing chunk 200
Processing chunk 201
Processing chunk 202
Processing chunk 203
Processing chunk 204
Processing chunk 205
Processing chunk 206
Processing chunk 207
Processing chunk 208
Processing chunk 209
Processing chunk 210
Processing chunk 211
Processing chunk 212
Processing chunk 213
Processing chunk 214
Processing chunk 215
Processing chunk 216
Processing chunk 217
Processing chunk 218
Processing chunk 219
Processing chunk 220
Processing chunk 221
Processing chunk 222
Processing chunk 223
Processing chunk 224
Processing chunk 225
Processing chunk 226
Processing chunk 227
Processing chunk 228
Processing chunk 229
Processing chunk 230
Processing chunk 231
Processing chunk 232
Processing chunk 233
Processing chunk 234
Processing chunk 235
Processing chunk 236
Processing chunk 237
Processing chunk 238
Processing chunk 239
Processing chunk 240
Processing chunk 241
Processing chunk 242
Processing chunk 243
Processing chunk 244
Processing chunk 245
Processing chunk 246
Processing chunk 247
Processing chunk 248
Processing chunk 249
Processing chunk 250
Processing chunk 251
Processing chunk 252
Processing chunk 253
Processing chunk 254
Processing chunk 255
Processing chunk 256
Processing chunk 257
Processing chunk 258
Processing chunk 259
Processing chunk 260
Processing chunk 261
Processing chunk 262

In [31]:
charts_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13463571 entries, 0 to 13463570
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   rank     int64
 2   date     object
 3   artist   object
 4   url      object
 5   region   object
 6   chart    object
 7   trend    object
 8   streams  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 924.5+ MB

In [39]:
charts_filtered['date'].sort_values(inplace=True)
charts_filtered['date'].unique()

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [47]:
charts_filtered['date'] = pd.to_datetime(charts_filtered['date'], format='%Y-%m-%d')

lista = charts_filtered['date'].unique().tolist()
lista.sort()

In [50]:
charts_filtered['date'].min(), charts_filtered['date'].max()

(Timestamp('2017-01-01 00:00:00'), Timestamp('2021-12-31 00:00:00'))

In [52]:
# Wczytaj dane (chunkami wcześniej) i upewnij się, że 'date' jest datetime
charts_filtered['date'] = pd.to_datetime(charts_filtered['date'])

# Utwórz kolumnę z początkiem tygodnia
weekly_data = charts_filtered[charts_filtered['date'].dt.weekday == 0]

In [59]:
weekly_data

,title,rank,date,artist,url,region,chart,trend,streams
155,743,88,2017-01-02,Miranda!,https://open.spotify.com/track/08WLghN4UZFMGN5...,Argentina,top200,MOVE_UP,20351.0
313,Sugar,126,2017-01-02,Maroon 5,https://open.spotify.com/track/494OU6M7NOf4ICY...,Brazil,top200,MOVE_DOWN,37128.0
630,Bobo,47,2017-01-02,J Balvin,https://open.spotify.com/track/7AtlMCIauSQZqiX...,Colombia,top200,MOVE_DOWN,12594.0
829,Flyva,145,2017-01-02,Volkan,https://open.spotify.com/track/6W2OooyxIA7ypic...,Denmark,top200,NEW_ENTRY,7789.0
1034,Hello,146,2017-01-02,Adele,https://open.spotify.com/track/4sPmO7WMQUAf45k...,Denmark,top200,MOVE_UP,7742.0
...,...,...,...,...,...,...,...,...,...
13456075,Łabędź,45,2021-07-26,Lej Mi Pół,https://open.spotify.com/track/4mIggFjtZVcqh1W...,Poland,viral50,NEW_ENTRY,NaN
13456076,PTT (Paint The Town),46,2021-07-26,LOONA,https://open.spotify.com/track/5awNIWVrh2ISfvP...,Poland,viral50,MOVE_UP,NaN
13456077,rises the moon,48,2021-07-26,Liana Flores,https://open.spotify.com/track/51Grh1RyUDcMBbp...,Poland,viral50,MOVE_DOWN,NaN
13456078,All Eyes On Me,49,2021-07-26,Bo Burnham,https://open.spotify.com/track/3rV5y8rcQrwRt9f...,Poland,viral50,MOVE_DOWN,NaN
13456079,Kochać inaczej - z filmu „Czarna owca”,50,2021-07-26,Igo,https://open.spotify.com/track/6m0reQAyu3kr63R...,Poland,viral50,NEW_ENTRY,NaN

In [56]:
weekly_data['region'].value_counts()

region
Argentina             65196
Brazil                65128
Austria               65099
Global                64834
Australia             64795
Canada                64791
Malaysia              64399
Philippines           64399
Indonesia             64399
Poland                64397
Belgium               64397
Denmark               64397
France                64396
Costa Rica            64396
Finland               64396
Ireland               64396
Italy                 64396
Colombia              64395
Chile                 64395
Netherlands           64395
Ecuador               64393
New Zealand           64385
Hong Kong             64364
Peru                  64340
Mexico                64324
Germany               64272
Czech Republic        64203
Guatemala             63315
Hungary               62204
Dominican Republic    61245
Name: count, dtype: int64

In [60]:
dane = weekly_data[['title', 'rank', 'date', 'artist', 'region', 'chart', 'trend' ]]
dane.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1928441 entries, 155 to 13456079
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   title   object
 1   rank    int64
 2   date    datetime64[ns]
 3   artist  object
 4   region  object
 5   chart   object
 6   trend   object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 117.7+ MB

In [66]:
weekly_data[weekly_data['chart'] == 'top200']

,title,rank,date,artist,url,region,chart,trend,streams
155,743,88,2017-01-02,Miranda!,https://open.spotify.com/track/08WLghN4UZFMGN5...,Argentina,top200,MOVE_UP,20351.0
313,Sugar,126,2017-01-02,Maroon 5,https://open.spotify.com/track/494OU6M7NOf4ICY...,Brazil,top200,MOVE_DOWN,37128.0
630,Bobo,47,2017-01-02,J Balvin,https://open.spotify.com/track/7AtlMCIauSQZqiX...,Colombia,top200,MOVE_DOWN,12594.0
829,Flyva,145,2017-01-02,Volkan,https://open.spotify.com/track/6W2OooyxIA7ypic...,Denmark,top200,NEW_ENTRY,7789.0
1034,Hello,146,2017-01-02,Adele,https://open.spotify.com/track/4sPmO7WMQUAf45k...,Denmark,top200,MOVE_UP,7742.0
...,...,...,...,...,...,...,...,...,...
12985482,Shut Up and Dance,196,2018-01-29,WALK THE MOON,https://open.spotify.com/track/4kbj5MwxO1bq9wj...,Poland,top200,NEW_ENTRY,6998.0
12985483,Closer,197,2018-01-29,"The Chainsmokers, Halsey",https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,Poland,top200,MOVE_DOWN,6968.0
12985484,Sun Comes Up (feat. James Arthur),198,2018-01-29,Rudimental,https://open.spotify.com/track/6SUocL0caib4mLH...,Poland,top200,NEW_ENTRY,6952.0
12985485,Uptown Funk (feat. Bruno Mars),199,2018-01-29,Mark Ronson,https://open.spotify.com/track/32OlwWuMpZ6b0aN...,Poland,top200,SAME_POSITION,6883.0
12985486,Photograph,200,2018-01-29,Ed Sheeran,https://open.spotify.com/track/6fxVffaTuwjgEk5...,Poland,top200,MOVE_DOWN,6874.0

In [67]:
weekly_data['chart'].value_counts()

chart
top200     1539044
viral50     389397
Name: count, dtype: int64

In [85]:
weekly_data.drop(columns=['url', 'streams'], inplace=True, errors='ignore')

C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\1328886786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data.drop(columns=['url', 'streams'], inplace=True, errors='ignore')

In [88]:
weekly_data['source_type'] = 'spotify'
weekly_data.rename(columns={'chart': 'chart_type'}, inplace=True)

C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\1959631167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data['source_type'] = 'spotify'
C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\1959631167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data.rename(columns={'chart': 'chart_type'}, inplace=True)

In [89]:
weekly_data

,title,rank,date,artist,region,chart_type,trend,source_type
155,743,88,2017-01-02,Miranda!,Argentina,top200,MOVE_UP,spotify
313,Sugar,126,2017-01-02,Maroon 5,Brazil,top200,MOVE_DOWN,spotify
630,Bobo,47,2017-01-02,J Balvin,Colombia,top200,MOVE_DOWN,spotify
829,Flyva,145,2017-01-02,Volkan,Denmark,top200,NEW_ENTRY,spotify
1034,Hello,146,2017-01-02,Adele,Denmark,top200,MOVE_UP,spotify
...,...,...,...,...,...,...,...,...
13456075,Łabędź,45,2021-07-26,Lej Mi Pół,Poland,viral50,NEW_ENTRY,spotify
13456076,PTT (Paint The Town),46,2021-07-26,LOONA,Poland,viral50,MOVE_UP,spotify
13456077,rises the moon,48,2021-07-26,Liana Flores,Poland,viral50,MOVE_DOWN,spotify
13456078,All Eyes On Me,49,2021-07-26,Bo Burnham,Poland,viral50,MOVE_DOWN,spotify
13456079,Kochać inaczej - z filmu „Czarna owca”,50,2021-07-26,Igo,Poland,viral50,NEW_ENTRY,spotify

In [90]:
charts = weekly_data.copy()

In [92]:
weeks = charts.groupby(['region', 'chart_type', 'title'])['date'].nunique().reset_index(name='weeks_on_chart')
charts = charts.merge(weeks, on=['region', 'chart_type', 'title'], how='left')

In [94]:
peak = charts.groupby(['region', 'chart_type', 'title'])['rank'].min().reset_index(name='peak_position')
charts = charts.merge(peak, on=['region', 'chart_type', 'title'], how='left')

In [96]:
charts = charts.sort_values(['region', 'chart_type', 'title', 'date'])
charts['previous_rank'] = charts.groupby(['region', 'chart_type', 'title'])['rank'].shift(1)
charts['position_change'] = charts['previous_rank'] - charts['rank']
charts['position_change'] = charts['position_change'].fillna(0).astype(int)

In [103]:
charts[charts['artist'] == 'Taco Hemingway']

,title,rank,date,artist,region,chart_type,trend,source_type,weeks_on_chart,peak_position,previous_rank,position_change
261419,2031,5,2018-07-16,Taco Hemingway,Poland,top200,SAME_POSITION,spotify,12,5,NaN,0
279431,2031,20,2018-07-23,Taco Hemingway,Poland,top200,SAME_POSITION,spotify,12,5,5.0,-15
309409,2031,41,2018-07-30,Taco Hemingway,Poland,top200,MOVE_DOWN,spotify,12,5,20.0,-21
208563,2031,56,2018-08-06,Taco Hemingway,Poland,top200,MOVE_DOWN,spotify,12,5,41.0,-15
249620,2031,88,2018-08-13,Taco Hemingway,Poland,top200,MOVE_DOWN,spotify,12,5,56.0,-32
...,...,...,...,...,...,...,...,...,...,...,...,...
1817785,Tlen,5,2017-07-31,Taco Hemingway,Poland,viral50,NEW_ENTRY,spotify,4,1,NaN,0
8341,Tlen,1,2017-08-07,Taco Hemingway,Poland,viral50,SAME_POSITION,spotify,4,1,5.0,4
15383,Tlen,14,2017-08-14,Taco Hemingway,Poland,viral50,MOVE_DOWN,spotify,4,1,1.0,-13
1035562,Wszystko Na Niby,10,2018-07-16,Taco Hemingway,Poland,viral50,NEW_ENTRY,spotify,1,10,NaN,0
1035564,ZTM,12,2018-07-16,Taco Hemingway,Poland,viral50,NEW_ENTRY,spotify,1,12,NaN,0

In [77]:
# rename columns chart
weekly_data.rename(columns={'chart': 'chart_type'}, inplace=True)

C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\2907084388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_data.rename(columns={'chart': 'chart_type'}, inplace=True)

In [104]:
charts_top200 = charts[charts['chart_type'] == 'top200']
charts_viral50 = charts[charts['chart_type'] == 'viral50']
charts_top200.to_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\charts_top200.csv', index=False)
charts_viral50.to_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\dane\charts_viral50.csv', index=False)

In [105]:
charts_top200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1539044 entries, 526153 to 705431
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   title            1539044 non-null  object
 1   rank             1539044 non-null  int64
 2   date             1539044 non-null  datetime64[ns]
 3   artist           1539044 non-null  object
 4   region           1539044 non-null  object
 5   chart_type       1539044 non-null  object
 6   trend            1539044 non-null  object
 7   source_type      1539044 non-null  object
 8   weeks_on_chart   1539044 non-null  int64
 9   peak_position    1539044 non-null  int64
 10  previous_rank    1433121 non-null  float64
 11  position_change  1539044 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 152.6+ MB

In [79]:
charts_top200['source_type'] = 'spotify'
charts_viral50['source_type'] = 'spotify'

C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\408503137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charts_top200['source_type'] = 'spotify'
C:\Users\ulasz\AppData\Local\Temp\ipykernel_29796\408503137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charts_viral50['source_type'] = 'spotify'

In [80]:
charts_top200

,title,rank,date,artist,url,region,chart_type,trend,streams,source_type
155,743,88,2017-01-02,Miranda!,https://open.spotify.com/track/08WLghN4UZFMGN5...,Argentina,top200,MOVE_UP,20351.0,spotify
313,Sugar,126,2017-01-02,Maroon 5,https://open.spotify.com/track/494OU6M7NOf4ICY...,Brazil,top200,MOVE_DOWN,37128.0,spotify
630,Bobo,47,2017-01-02,J Balvin,https://open.spotify.com/track/7AtlMCIauSQZqiX...,Colombia,top200,MOVE_DOWN,12594.0,spotify
829,Flyva,145,2017-01-02,Volkan,https://open.spotify.com/track/6W2OooyxIA7ypic...,Denmark,top200,NEW_ENTRY,7789.0,spotify
1034,Hello,146,2017-01-02,Adele,https://open.spotify.com/track/4sPmO7WMQUAf45k...,Denmark,top200,MOVE_UP,7742.0,spotify
...,...,...,...,...,...,...,...,...,...,...
12985482,Shut Up and Dance,196,2018-01-29,WALK THE MOON,https://open.spotify.com/track/4kbj5MwxO1bq9wj...,Poland,top200,NEW_ENTRY,6998.0,spotify
12985483,Closer,197,2018-01-29,"The Chainsmokers, Halsey",https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,Poland,top200,MOVE_DOWN,6968.0,spotify
12985484,Sun Comes Up (feat. James Arthur),198,2018-01-29,Rudimental,https://open.spotify.com/track/6SUocL0caib4mLH...,Poland,top200,NEW_ENTRY,6952.0,spotify
12985485,Uptown Funk (feat. Bruno Mars),199,2018-01-29,Mark Ronson,https://open.spotify.com/track/32OlwWuMpZ6b0aN...,Poland,top200,SAME_POSITION,6883.0,spotify
12985486,Photograph,200,2018-01-29,Ed Sheeran,https://open.spotify.com/track/6fxVffaTuwjgEk5...,Poland,top200,MOVE_DOWN,6874.0,spotify