In [1]:
import pandas as pd
from transform import *

In [2]:
processed_data = pd.read_csv(r'C:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\etl\output\raw_charts_top200_20250604_134727.csv')
processed_data

,track_name,rank,date,artist_name,region,chart_type,position_change,weeks_on_chart,peak_position,previous_rank,...,spotify_track_id,duration,explicit,artist_id,genres,artist_count,release_date,track_id,mb_country,mb_type
0,#Ayfkm (Freestyle),200,2019-09-02,ECKO,Argentina,top200,NEW_ENTRY,1,200,NaN,...,4kTP0dh5AxnfpBLJINUqi7,115.017,True,2Jb9jVnCpWkXtoGznFJ6bF,"[""rkt"", ""turreo"", ""argentine trap"", ""trap""]",1.0,2019-08-30,NaN,NaN,NaN
1,#Natural,192,2017-12-11,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
2,#Natural,166,2017-12-18,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
3,#Natural,188,2017-12-25,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
4,#Natural,183,2018-01-01,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,188.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
5,#Natural,52,2018-01-08,"Paty Cantú, Juhn",Argentina,top200,SAME_POSITION,14,52,183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
6,#Natural,54,2018-01-15,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
7,#Natural,63,2018-01-22,"Paty Cantú, Juhn",Argentina,top200,MOVE_DOWN,14,52,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
8,#Natural,83,2018-01-29,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
9,#Natural,83,2018-02-05,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
10,#Natural,94,2018-02-12,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
11,#Natural,146,2018-02-19,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
12,#Natural,187,2018-02-26,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
13,#Natural,187,2018-03-05,"Paty Cantú, Juhn",Argentina,top200,MOVE_UP,14,52,187.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
14,#Natural,191,2018-03-12,"Paty Cantú, Juhn",Argentina,top200,NEW_ENTRY,14,52,187.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3y7XIu4NloDcCSekDbCvf6,NaN,NaN
15,#Ysya2020 Vol. 1 - Una de Dos,167,2020-06-22,"YSY A, CLUB HATS",Argentina,top200,NEW_ENTRY,4,99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,NaN,NaN
16,#Ysya2020 Vol. 1 - Una de Dos,99,2020-06-29,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,NaN,NaN
17,#Ysya2020 Vol. 1 - Una de Dos,112,2020-07-06,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,NaN,NaN
18,#Ysya2020 Vol. 1 - Una de Dos,137,2020-07-13,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,4,99,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7nFta4LZyL0MTDDqbjiQW2,NaN,NaN
19,#Ysya2020 Vol. 4 - Pasa Que Yo,117,2020-10-19,"YSY A, Yesan 雪山",Argentina,top200,NEW_ENTRY,4,93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,NaN,NaN
20,#Ysya2020 Vol. 4 - Pasa Que Yo,93,2020-10-26,"YSY A, Yesan 雪山",Argentina,top200,MOVE_UP,4,93,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,NaN,NaN
21,#Ysya2020 Vol. 4 - Pasa Que Yo,135,2020-11-02,"YSY A, Yesan 雪山",Argentina,top200,MOVE_UP,4,93,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,NaN,NaN
22,#Ysya2020 Vol. 4 - Pasa Que Yo,176,2020-11-09,"YSY A, Yesan 雪山",Argentina,top200,NEW_ENTRY,4,93,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7qf15ZBTnAyOZX5UIWrsKj,NaN,NaN
23,#Ysya2020 Vol. 5 - Silbando,76,2020-10-19,"YSY A, CLUB HATS",Argentina,top200,NEW_ENTRY,5,68,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,NaN,NaN
24,#Ysya2020 Vol. 5 - Silbando,68,2020-10-26,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,NaN,NaN
25,#Ysya2020 Vol. 5 - Silbando,83,2020-11-02,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,NaN,NaN
26,#Ysya2020 Vol. 5 - Silbando,98,2020-11-09,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,NaN,NaN
27,#Ysya2020 Vol. 5 - Silbando,131,2020-11-16,"YSY A, CLUB HATS",Argentina,top200,MOVE_UP,5,68,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6TI490muJ6RgFsYJc626BZ,NaN,NaN
28,#Ysya2020 Vol. 6 - Un Flow de Infarto,61,2020-10-26,"YSY A, Bizarrap",Argentina,top200,NEW_ENTRY,8,61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,NaN,NaN
29,#Ysya2020 Vol. 6 - Un Flow de Infarto,67,2020-11-02,"YSY A, Bizarrap",Argentina,top200,MOVE_UP,8,61,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2byu6eeLWaBq88ZtusqU4V,NaN,NaN

In [3]:
processed_data.columns

Index(['track_name', 'rank', 'date', 'artist_name', 'region', 'chart_type',
       'position_change', 'weeks_on_chart', 'peak_position', 'previous_rank',
       'source_type', 'spotify_track_id', 'duration', 'explicit', 'artist_id',
       'genres', 'artist_count', 'release_date', 'track_id', 'mb_country',
       'mb_type'],
      dtype='object')

In [4]:
date_dim = DateDimension(processed_data, 'date').transform()
region_dim = RegionDimension(processed_data, 'region').transform()
# artist_dim = ArtistDimension(processed_data).transform()
track_dim = TrackDimension(processed_data).transform()

c:\Users\ulasz\OneDrive\Pulpit\studia\sem6\hurtownie danych\spotify-dwh\etl\transform\transform.py:135: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['explicit'] = df['explicit'].fillna(False).astype(bool)

In [5]:
artist_dim = ArtistDimension(processed_data).transform()

In [6]:
date_dim

,date_id,year,month,day,day_of_week,quarter,season,week_of_year,is_holiday,is_weekend,date,holiday_name
0,1,2019,9,2,Monday,3,Autumn,36,True,False,2019-09-02,Labor Day
1,2,2017,12,11,Monday,4,Winter,50,False,False,2017-12-11,None
2,3,2017,12,18,Monday,4,Winter,51,False,False,2017-12-18,None
3,4,2017,12,25,Monday,4,Winter,52,True,False,2017-12-25,Christmas Day
4,5,2018,1,1,Monday,1,Winter,1,True,False,2018-01-01,New Year's Day
5,6,2018,1,8,Monday,1,Winter,2,False,False,2018-01-08,None
6,7,2018,1,15,Monday,1,Winter,3,True,False,2018-01-15,Martin Luther King Jr. Day
7,8,2018,1,22,Monday,1,Winter,4,False,False,2018-01-22,None
8,9,2018,1,29,Monday,1,Winter,5,False,False,2018-01-29,None
9,10,2018,2,5,Monday,1,Winter,6,False,False,2018-02-05,None
10,11,2018,2,12,Monday,1,Winter,7,False,False,2018-02-12,None
11,12,2018,2,19,Monday,1,Winter,8,True,False,2018-02-19,Washington's Birthday
12,13,2018,2,26,Monday,1,Winter,9,False,False,2018-02-26,None
13,14,2018,3,5,Monday,1,Spring,10,False,False,2018-03-05,None
14,15,2018,3,12,Monday,1,Spring,11,False,False,2018-03-12,None
15,16,2020,6,22,Monday,2,Summer,26,False,False,2020-06-22,None
16,17,2020,6,29,Monday,2,Summer,27,False,False,2020-06-29,None
17,18,2020,7,6,Monday,3,Summer,28,False,False,2020-07-06,None
18,19,2020,7,13,Monday,3,Summer,29,False,False,2020-07-13,None
19,20,2020,10,19,Monday,4,Autumn,43,False,False,2020-10-19,None
20,21,2020,10,26,Monday,4,Autumn,44,False,False,2020-10-26,None
21,22,2020,11,2,Monday,4,Autumn,45,False,False,2020-11-02,None
22,23,2020,11,9,Monday,4,Autumn,46,False,False,2020-11-09,None
27,24,2020,11,16,Monday,4,Autumn,47,False,False,2020-11-16,None

In [7]:
region_dim

,region_id,region_name,region_code,region_population,region_language,region_continent
0,1,Argentina,ARG,45538401,Spanish,South America

In [8]:
track_dim

,track_id,track_name,artist_name,artist_count,duration,explicit,spotify_track_id,release_date,date_key
0,1,#Ayfkm (Freestyle),ECKO,1,115.017,True,4kTP0dh5AxnfpBLJINUqi7,2019-08-30,None
1,2,#Natural,"Paty Cantú, Juhn",1,0.000,False,nan,NaT,None
15,3,#Ysya2020 Vol. 1 - Una de Dos,"YSY A, CLUB HATS",1,0.000,False,nan,NaT,None
19,4,#Ysya2020 Vol. 4 - Pasa Que Yo,"YSY A, Yesan 雪山",1,0.000,False,nan,NaT,None
23,5,#Ysya2020 Vol. 5 - Silbando,"YSY A, CLUB HATS",1,0.000,False,nan,NaT,None
28,6,#Ysya2020 Vol. 6 - Un Flow de Infarto,"YSY A, Bizarrap",1,0.000,False,nan,NaT,None

In [9]:
artist_dim

,artist_id,artist_spotify_id,artist_name,artist_genre,artist_country,artist_type
0,1,2Jb9jVnCpWkXtoGznFJ6bF,ECKO,rkt,Unknown,Unknown
1,2,nan,"Paty Cantú, Juhn",Unknown,Unknown,Unknown
15,3,nan,"YSY A, CLUB HATS",Unknown,Unknown,Unknown
19,4,nan,"YSY A, Yesan 雪山",Unknown,Unknown,Unknown
28,5,nan,"YSY A, Bizarrap",Unknown,Unknown,Unknown

In [10]:
fact_chart = FactChart(processed_data, track_dim, artist_dim, date_dim, region_dim)
fact_df = fact_chart.transform()

Kolumny w df przed zwróceniem: ['track_name', 'rank', 'date', 'artist_name', 'region', 'chart_type', 'position_change', 'weeks_on_chart', 'peak_position', 'previous_rank', 'source_type', 'spotify_track_id', 'duration', 'explicit', 'artist_id_x', 'genres', 'artist_count', 'release_date', 'track_id_x', 'mb_country', 'mb_type', 'track_id_y', 'artist_id_y', 'date_key', 'region_key', 'region_name', 'chart_id']

In [11]:
track_dim.columns

Index(['track_id', 'track_name', 'artist_name', 'artist_count', 'duration',
       'explicit', 'spotify_track_id', 'release_date', 'date_key'],
      dtype='object')

In [12]:
fact_df

,chart_id,track_key,artist_key,date_key,region_key,source_type,chart_type,rank,weeks_on_chart,peak_position,position_change
0,1,1,1,1,1,charts_top200,top200,200,1,200,-200
1,2,2,2,2,1,charts_top200,top200,192,14,52,-192
2,3,2,2,3,1,charts_top200,top200,166,14,52,26
3,4,2,2,4,1,charts_top200,top200,188,14,52,-22
4,5,2,2,5,1,charts_top200,top200,183,14,52,5
5,6,2,2,6,1,charts_top200,top200,52,14,52,131
6,7,2,2,7,1,charts_top200,top200,54,14,52,-2
7,8,2,2,8,1,charts_top200,top200,63,14,52,-9
8,9,2,2,9,1,charts_top200,top200,83,14,52,-20
9,10,2,2,10,1,charts_top200,top200,83,14,52,0
10,11,2,2,11,1,charts_top200,top200,94,14,52,-11
11,12,2,2,12,1,charts_top200,top200,146,14,52,-52
12,13,2,2,13,1,charts_top200,top200,187,14,52,-41
13,14,2,2,14,1,charts_top200,top200,187,14,52,0
14,15,2,2,15,1,charts_top200,top200,191,14,52,-4
15,16,3,3,16,1,charts_top200,top200,167,4,99,-167
16,17,3,3,17,1,charts_top200,top200,99,4,99,68
17,18,3,3,18,1,charts_top200,top200,112,4,99,-13
18,19,3,3,19,1,charts_top200,top200,137,4,99,-25
19,20,4,4,20,1,charts_top200,top200,117,4,93,-117
20,21,4,4,21,1,charts_top200,top200,93,4,93,24
21,22,4,4,22,1,charts_top200,top200,135,4,93,-42
22,23,4,4,23,1,charts_top200,top200,176,4,93,-41
23,24,5,3,20,1,charts_top200,top200,76,5,68,-76
24,25,5,3,21,1,charts_top200,top200,68,5,68,8
25,26,5,3,22,1,charts_top200,top200,83,5,68,-15
26,27,5,3,23,1,charts_top200,top200,98,5,68,-15
27,28,5,3,24,1,charts_top200,top200,131,5,68,-33
28,29,6,5,21,1,charts_top200,top200,61,8,61,-61
29,30,6,5,22,1,charts_top200,top200,67,8,61,-6